:root{
  --main-bg:#15173D;
  --main-text:#FDEDED;
  --card-bg:#1C1F4A;
  --card-bg-project:#132440;

  --light-bg:#FDEDED;
  --light-text:#15173D;
  --light-card:#B3BFFF;
}
body.light-mode{
  --chart-fill: rgba(78, 86, 192, 0.25);
  --chart-border: #2f3ad8;
  --chart-grid: black;
  --chart-label: #15173D;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  background-color: var(--main-bg);
  color: var(--main-text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body.light-mode{
  background-color: var(--light-bg);
  color: var(--light-text);
}
header, footer{
  padding: 1rem;
  text-align: center;
}
main{
  flex: 3;
  padding: 1rem;
}
.container{
  display: flex;
  gap: 1rem;
}
.profile, .stacks, .projects{
  background: var(--card-bg);
  border-radius: 12px;
  padding: 1rem;
  border: 1px solid rgba(255,255,255,0.1);
  height: 65vh;
}
body.light-mode .profile,
body.light-mode .stacks,
body.light-mode .projects{
  background: var(--light-card);
  padding: 1rem;
  border: 1px solid rgba(255,255,255,0.1);
  height: 65vh;
}
.profile{
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 65vh;
}
.frame{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.frame img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: var(--card-bg);
}
.identity{
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  overflow-y: scroll;
}
.stacks{
  flex: 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.projects{
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;
}
.project-card{
  background: var(--card-bg-project);
  border-radius: 12px;
  padding: 1rem;
  border: 1px solid rgba(255,255,255,0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
body.light-mode .project-card{
  background: #4E56C0;
  border-radius: 12px;
  padding: 1rem;
  border: 1px solid rgba(255,255,255,0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.icon-project i{
  font-size: 2rem;
}
.desc-project{
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: justify;
}
.desc-project h3{
  border-bottom: 1px solid white;
  text-align: center;
}
.desc-project p{
  text-align: justify;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;

}
footer a{
  text-decoration: none;
  color: var(--main-text);
}
.brand-card{
  background: var(--card-bg-project);
  border-radius: 12px;
  padding: 1rem;
  border: 1px solid rgba(255,255,255,0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  color: var(--main-text);
  align-items: center;
  cursor: pointer;
}
.theme-toggle{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(90deg, #3fa9f5, #5bc0ff);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 1000;
  transition: transform 0.3s;
}
.theme-toggle:hover{
  transform: scale(1.1);
}
.auto-type{
  font-weight: bold;
}
@media (max-width: 900px){
  .container{
    flex-direction: column;
  }
  .stacks{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body.light-mode .stacks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--light-text);
  }
  footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.identity::-webkit-scrollbar {
  width: 6px;
}
.identity::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
  border-radius: 4px;
}
body.light-mode .identity::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
}


